* { margin: 0; padding: 0; }
body { 	background-color: #eee !important;}

.clear { clear: both; }
.left { float: left; }
.right { float: right; }

/*-------------------------------*/
/*----------- CONNECT -----------*/
/*-------------------------------*/
#connect {
	background-color: #474747;
    background-image: url("../img/noise.png");
}

#connect ul {
	float: right;
	margin: 0;
	padding: 0;
}

#connect ul li {
	list-style-type: none;
    padding: 5px 7px 7px !important;
	border-left: 1px solid #3f3f3f;
	border-right: 1px solid #3f3f3f;
}

#connect ul li:hover {
	background-color: #2fb1be;
	color: #3f3f3f;
}

#connect ul li a {
	display: block;
	color: #fff;
	font-size: 0.85em;
}

#connect ul li a:hover {
	text-decoration: none;
}

#connect ul.menu_user {
	float:none;
}

#connect ul.menu_user li.item {
	border:none;
}

#connect ul.menu_user li.item a:hover {
	color:#fff;
}

#connect ul.menu_user li.divider {
	border-left:none;
	border-right:none;
	padding:0 !important;
	margin:0;
}

#connect ul.menu_user li.divider:hover {
	background:none;
}

#connect ul.menu_user li a {
	color: #333;
}

#connect ul .popover-content {
	padding:0;
}

.popover-content form, .popover-content p.no_account{
	padding:9px 14px;
}

/*-------------------------------*/
/*----------- HEADER ------------*/
/*-------------------------------*/
#header {
	margin: 35px 5px 0 60px;
}

#header h1 {
	margin: 7px 0 0 7px;
}

#header h1 a {
	color: #3f3f3f;
	font-family: Capriola;
    position: relative;
    top: 7px;
    left: 7px;
}

#header h1 a:hover {
	text-decoration: none;
}

#header .baseline {
	font-size: 0.9em;
	margin: 0 0 0 16px;
}

#header form {
    float: right;
    margin: 40px 0 10px;
}

#header form input {
	height: 30px;
}

/*-------------------------------*/
/*------------ MENU -------------*/
/*-------------------------------*/
#main-nav .nav-bar {
	margin-bottom: 0 !important;
}

#main-nav .navbar .navbar-inner { 
	background: none;
	border: none;
	border-radius: none;
	box-shadow: none;
}

#main-nav .navbar .navbar-inner ul.nav-pills {
	border-top: 4px solid #2fb1be;
	width: 100%;
	margin-top: 10px;
}

#main-nav .navbar .navbar-inner ul.nav-pills li {
	padding: 10px 7px;
	list-style-type: none;
}

#main-nav .navbar .navbar-inner ul.nav-pills li a {
	color: #3f3f3f;
	text-shadow: none;
	text-transform: uppercase;
	font-size: 0.87em;
	padding: 0 7px;
	font-weight: bold;
	padding: 6px 10px;
} 

#main-nav .navbar .navbar-inner ul.nav-pills li a:hover {
	color: #fff;
	background-color: #2fb1be;
	text-decoration: none;
} 

#main-nav .navbar .navbar-inner ul.nav-pills li.active a {
	color: #fff;
	background-color: #2fb1be;
	text-decoration: none;
} 

/** Menu items **/
#main-nav .navbar .navbar-inner ul.nav-pills li #tab_1:hover  {
  background-color: #33CCCC;
}

#main-nav .navbar .navbar-inner ul.nav-pills li #tab_2:hover {
  background-color: #C24747;
}

#main-nav .navbar .navbar-inner ul.nav-pills li #tab_3:hover {
  background-color: #996699;
}

#main-nav .navbar .navbar-inner ul.nav-pills li #tab_4:hover {
  background-color: #e2674a;
}

#main-nav .navbar .navbar-inner ul.nav-pills li #tab_5:hover {
  background-color: #FFCC66;
}

#main-nav .navbar .navbar-inner ul.nav-pills li #tab_6:hover {
  background-color: #99CC99;
}

#main-nav .navbar .navbar-inner ul.nav-pills li #tab_7:hover {
  background-color: #669999;
}

#main-nav .navbar .navbar-inner ul.nav-pills li #tab_8:hover {
  background-color: #CC6699;
}

#main-nav .navbar .navbar-inner ul.nav-pills li #tab_9:hover {
  background-color: #339966;
}

#main-nav .navbar .navbar-inner ul.nav-pills li #tab_10:hover {
  background-color: #666699;
}
/*-------------------------------*/
/*----------- CONTENT -----------*/
/*-------------------------------*/
#content {
	padding-left: 45px;
}

#content .text-article {
	text-align: left;
	font-size: 0.8em;
	font-family: Arial;
}

#content .text-article h2 {
	font-size: 1.5em;
	line-height: 1.2em;
	border-top:1px dotted #3f3f3f;
	border-bottom:1px dotted #3f3f3f;
	padding:15px 7px;
	margin:7px 0 25px 0;
	font-family:Lato;
}

#content .text-article a {
	color: #ff9000 !important;
}

#whyRegister li{
	list-style: disc; 
	color: #2fb1be;
}

#whyRegister li span{
	color: #333;
}


/*----------- Article -----------*/
.infos-article p {
	margin-right: 20px;
	font-size: 0.9em;
	color: #ff9000 !important;
}

.infos-article a {
	color: #ff9000 !important;
}

.infos-article i {
	margin: 0 3px 0 0;
}

.openpage .row {
	margin: 10px 0 0;
}

.openpage h2 {
	text-align: left;
	color: #3f3f3f;
	font-size: 2.5em;
}

/*---------- Login --------------*/
.form-signin {
	max-width: 300px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
    border-radius: 3px 3px 3px 3px;
    color: #3F3F3F;
    font-size: 0.8em;
    height: 2.1em;
    margin-bottom: 7px;
    padding: 5px 9px !important;
}

.form-signin input[type="submit"] {
    background-color: #2fb1be !important;
    border: 0 none !important;
    border-radius: 2px 2px 2px 2px !important;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: normal !important;
    line-height: 1.9em !important;
	margin: 7px 5px 0 0px;
    padding: 1px 15px;
    text-shadow: none;
    height: 1.9em;
}

.form-signin input[type="submit"]:hover {
	box-shadow: 0 2px 0 rgba(120, 200, 230, 0.5) inset;
}

/*----------- Register ----------*/
.form-inline input[type=text],input[type=password] {
	height: 30px;
	display:block;
}

.form-inline input[type="submit"] {
  	background-color: #2fb1be !important;
    border: 0 none !important;
    border-radius: 2px 2px 2px 2px !important;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: normal !important;
    line-height: 1.9em !important;
	margin: 7px 5px 0 7px;
    padding: 1px 15px;
    text-shadow: none;
    height: 1.9em;
}

.form-inline input[type="submit"]:hover {
	box-shadow: 0 2px 0 rgba(120, 200, 230, 0.5) inset;
}

.form-inline label {
	display:block;
}

.form-inline label#labelPassword2 {
	margin-top:35px;
}

label {
	width: 125px;
}

#labelPassword2 {
	width: auto;
	margin-left: 10px;
	margin-right: 10px;
}

.errorlist li {
	list-style: none;
}

/*------------ Search -----------*/
.form-search div.search-input {
	border-bottom: dotted 1px #3f3f3f;
	padding-bottom: 10px;
}

.form-search div.search-input input[type="text"] {
	height:2em;
	margin: 7px 0 0;
}

.form-search input[type="submit"] {
    background-color: #2fb1be !important;
    border: 0 none !important;
    border-radius: 2px 2px 2px 2px !important;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: normal !important;
    line-height: 1.9em !important;
	margin: 7px 5px 0 7px;
    padding: 1px 15px;
    text-shadow: none;
    height: 1.9em;
}

.form-search input[type="submit"]:hover {
	box-shadow: 0 2px 0 rgba(120, 200, 230, 0.5) inset;
}

#searchForm-inline {
	margin-top: 34px!important;
}

.form-search h3 {
	clear: both;
}

.form-search a {
	color: #ff9000;
}

.input-append .add-on, .input-prepend .add-on {
	height: 30px;
	padding: 7px 5px;
}

/*------------ List article Override -----------*/
.col1 div.frame:nth-child(n), .col2 div.frame:nth-child(n), .col3 div.frame:nth-child(n) {
  background: none;
}


/*-------------------------------*/
/*----------- FOOTER ------------*/
/*-------------------------------*/
.footer {
	background-color: #474747;
    background-image: url("../img/noise.png");
    color: #fff;
    padding:25px 0 45px 0;
    margin:45px 0 0 0;
}

.footer h1 {
	margin: 7px 0 0 7px;
}

.footer h1 a {
	color: #fff;
	font-family: Capriola;
	font-size: 0.8em;
    position: relative;
    top: 7px;
    left: 7px;
}

.footer h1 a:hover {
	text-decoration: none;
}

.footer .baseline {
	font-size: 0.7em;
	margin: 0 0 0 16px;
}

.footer .left a img {
    margin: 7px 0 0;
    width: 4.5em;
}

.footer h5 {
	font-size: 1.1em;
	text-transform: uppercase;
}

.footer ul {
	margin: 0;
	padding: 0;
}

.footer ul li {
	list-style-type: none;
}

.footer ul li a {
	color: #fff;
}

.footer img.social-network {
	margin-right:7px;
}



/*------------------------------------*/
/*----------- VOTE SYSTEM ------------*/
/*------------------------------------*/

.star-rating, .star-rating-fix,
.star-rating a:hover, .star-rating-fix a:hover,
.star-rating a:active, .star-rating-fix a:active,
.star-rating a:focus, .star-rating-fix a:focus,
.star-rating .current-rating,.star-rating-fix .current-rating{
	background: url("../img/star.gif") left -1000px repeat-x;
}

.star-rating-fix, .star-rating{
	position:relative;
	width:125px;
	height:25px;
	overflow:hidden;
	list-style:none;
	margin:0;
	padding:0;
	background-position: left top;
}

.star-rating li, .star-rating-fix li{
	display: inline;
}

.star-rating a, .star-rating-fix a,
.star-rating .current-rating, .star-rating-fix .current-rating{
	position:absolute;
	top:0;
	left:0;
	text-indent:-1000em;
	height:25px;
	line-height:25px;
	outline:none;
	overflow:hidden;
	border: none;
}

.star-rating-fix a:hover,
.star-rating-fix a:active,
.star-rating-fix a:focus, 
.star-rating a:hover,
.star-rating a:active,
.star-rating a:focus{
	background-position: left bottom;
}

.star-rating a.one-star{
	width:20%;
	z-index:6;
}

.star-rating a.two-stars{
	width:40%;
	z-index:5;
}

.star-rating a.three-stars{
	width:60%;
	z-index:4;
}

.star-rating a.four-stars{
	width:80%;
	z-index:3;
}

.star-rating a.five-stars{
	width:100%;
	z-index:2;
}

.star-rating .current-rating, .star-rating-fix .current-rating{
	z-index:1;
	background-position: left center;
}

.inline-rating{
	display:-moz-inline-block;
	display:-moz-inline-box;
	display:inline-block;
	vertical-align: middle;
}


