{% extends 'base.html' %}

{% block searchMenu %}

{% endblock searchMenu %}

{% block menu %}
    <li>
        <a href="/categories/">All</a>
    </li>
    {% for cat in categories %}
        <li><a href="/categories/{{cat.url}}">{{cat|title}}</a></li>
    {% endfor %}
{% endblock menu %}


{% block content %}
    <form method="get" action="." class="form-search">
            
            
            <div class="search-input">
                {{ form.q }}
                <input type="submit" value="Rechercher">
                <div class="clear"></div>
            </div>


        {% if query %}
            <h3>Résultas pour l'expression "{{query}}"</h3>
            {% for result in page.object_list %}
                {% if result.model_name == "article" %}
                <p>
                    <a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a> -- {{result.object.date}}
                </p>
                {% elif result.model_name == "feedentry" %}
                <p>
                    <a href="{{ result.object.link }}" target="blank">{{ result.object.title }}</a> -- {{result.object.date}}
                </p>
                {% endif %}
            {% empty %}
                <p>No results found.</p>
            {% endfor %}


    {% if page.has_previous or page.has_next %}
        <div>
            {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
            |
            {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
        </div>
    {% endif %}
    {% else %}
        {# Show some example queries to run, maybe query syntax, something else? #}
    {% endif %}
{% endblock %}
