{% extends 'base.html' %}

{% block menu %}
	<li>
	   	<a href="/categories/">All</a>
	</li>
	{% for cat in categories %}
		<li><a href="/categories/{{cat.url}}">{{cat|title}}</a></li>
	{% endfor %}
{% endblock menu %}

{% block content %}
	<div class="row">
		<div class="span8">
			<h2>{{article.title}}</h2>
			<div class="infos-article">
				<p class="left"><i class="icon-calendar"></i>{{article.date.date}} à {{article.date.hour}}:{{article.date.minute}}</p>
				<p class="left"><i class="icon-user"></i><a href="/profile/{{article.memberId.id}}">{{article.memberId}}</a></p>
				<p class="left"><i class="icon-bookmark"></i><a href="/categories/{{article.category}}">{{article.category}}</a></p>
				<div class="clear"></div>
			</div>
			<div class="well">
				{% if article.media %}
					{% if mediaType == "vid" %}
						<video controls>
							<source src="/media/{{article.media}}" type="{{mime}}">
						</video>
					{% else %}
						<img src="/media/{{article.media}}" alt="">
					{% endif %}
				{% endif %}
				{% autoescape off %}
					{{article.text}}
				{% endautoescape %}
			</div>
			{% for tag in article.tags.all %}
				<a class="label label-info" href="/search/?q={{tag}}"><i class="icon-tags"></i><span class="label label-info">{{tag}}</span></a>
			{% endfor %}
			{% if article.coord != "" and article.coord != "error" %}
				coord: {{article.coord}}
			{% endif %}
		</div>
		<div class="span4">
		</div>
	</div>
{% endblock content %} 