{% extends 'base.html' %}

{% block menu %}
<li><a href="/">home</a></li>
<li class="active"><a href="/categories">articles</a></li>
<li><a href="/preferences">preferences</a></li>
<li><a href="/logout">logout</a></li>
<li><a href="/login">login</a></li>
<li><a href="/register">register</a></li>
{% endblock menu %}

{% block content %}
	{% for article in articles %}
		<h2>{{article.title}}</h2>
		<p><a href="/categories/{{article.category}}">{{article.category}}</a>, publié le {{article.date.date}} à {{article.date.hour}}:{{article.date.minute}} par <a href="/profile/{{article.memberId.id}}">{{article.memberId}}</a></p>
		<div class="well">
				<video controls>
					<source src="/media/articles_media/video1.mp4" type="video/mp4">
				</video>
			{% autoescape off %}
				{{article.text}}
			{% endautoescape %}
		</div>
		{% for tag in article.tags.all %}
			<span class="label label-info">{{tag}}</span>
		{% endfor %}
		{% if article.coord != "" and article.coord != "error" %}
			coord: {{article.coord}}
		{% endif %}
		{% empty %}
			<p>Désolé, cet article n'existe pas</p>
	{% endfor %}
{% endblock content %} 