{% extends 'base.html' %}



{% block content %}
	<div class="row">
		<div class="span8">
			<h2>{{article.title}}</h2>
			<div class="infos-article">
				<p class="left"><i class="icon-calendar"></i>{{article.date.date}} à {{article.date.hour}}:{{article.date.minute}}</p>
				<p class="left"><i class="icon-user"></i><a href="/profile/{{article.memberId.id}}">{{article.memberId}}</a></p>
				<p class="left"><i class="icon-bookmark"></i><a href="/categories/{{article.category}}">{{article.category}}</a></p>
				<div class="clear"></div>
			</div>
			<div class="well">
				{% if article.media %}
					{% if mediaType == "vid" %}
						<video controls>
							<source src="/media/{{article.media}}" type="{{mime}}">
						</video>
					{% else %}
						<img src="/media/{{article.media}}" alt="">
					{% endif %}
				{% endif %}
				{% autoescape off %}
					{{article.text}}
				{% endautoescape %}
			</div>
			{% for tag in article.tags.all %}
				<a class="label label-info" href="/search/?q={{tag}}"><i class="icon-tags"></i><span class="label label-info">{{tag}}</span></a>
			{% endfor %}
			{% if article.coord != "" and article.coord != "error" %}
				coord: {{article.coord}}
			{% endif %}
		</div>
		<div class="span8" style="margin-top: 20px">
			{% if user.id %}
				<form style="float:left" class="form-comment" id="commentForm-{{article.id}}" action="" method="POST">
					<textarea style="max-width: 70%; width: 70%" name="commentText" cols="60" rows="6"></textarea> <br><br>
					<input type="hidden" name="memberId" value="{{member.id}}">
					<input type="hidden" name="articleId" value="{{article.id}}">
					<p><input type="submit" class="commentArticleButton btn" id="commentButton-{{article.id}}" value="commenter"></p>
				</form>
				<div id="votes" style="float:left">
					{% if user_q_vote %}
						<div id="qualityVote">
							Quality Vote : <span class="inline-rating">
								<ul class="star-rating-fix small-star">
									<li class="current-rating" style="width:{% widthratio article_q_note 1 20 %}%;">Currently 1.5/5 Stars.</li>
									<li><a href="#" title="1 star out of 5" class="one-star">1</a></li>
									<li><a href="#" title="2 stars out of 5" class="two-stars">2</a></li>
									<li><a href="#" title="3 stars out of 5" class="three-stars">3</a></li>
									<li><a href="#" title="4 stars out of 5" class="four-stars">4</a></li>
									<li><a href="#" title="5 stars out of 5" class="five-stars">5</a></li>
								</ul>
							</span>
						</div>
					{% else %}
							<div id="qualityVote">
								Quality Vote : <span class="inline-rating">
									<ul class="star-rating small-star">
										<li><a href="#" title="1 star out of 5" class="one-star">1</a></li>
										<li><a href="#" title="2 stars out of 5" class="two-stars">2</a></li>
										<li><a href="#" title="3 stars out of 5" class="three-stars">3</a></li>
										<li><a href="#" title="4 stars out of 5" class="four-stars">4</a></li>
										<li><a href="#" title="5 stars out of 5" class="five-stars">5</a></li>
									</ul>
								</span>
							</div>
					{% endif %}

					{% if user_f_vote %}
						<div id="fiabilityVote">
							Fiability Vote : <span class="inline-rating">
								<ul class="star-rating-fix small-star">
									<li class="current-rating" style="width:{% widthratio article_f_note 1 20 %}%;">Currently 1.5/5 Stars.</li>
									<li><a href="#" title="1 star out of 5" class="one-star">1</a></li>
									<li><a href="#" title="2 stars out of 5" class="two-stars">2</a></li>
									<li><a href="#" title="3 stars out of 5" class="three-stars">3</a></li>
									<li><a href="#" title="4 stars out of 5" class="four-stars">4</a></li>
									<li><a href="#" title="5 stars out of 5" class="five-stars">5</a></li>
								</ul>
							</span>
						</div>
					{% else %}
							<div id="fiabilityVote">
								Fiability Vote : <span class="inline-rating">
									<ul class="star-rating small-star">
										<li><a href="#" title="1 star out of 5" class="one-star">1</a></li>
										<li><a href="#" title="2 stars out of 5" class="two-stars">2</a></li>
										<li><a href="#" title="3 stars out of 5" class="three-stars">3</a></li>
										<li><a href="#" title="4 stars out of 5" class="four-stars">4</a></li>
										<li><a href="#" title="5 stars out of 5" class="five-stars">5</a></li>
									</ul>
								</span>
							</div>
					{% endif %}
				</div>
				<div class="clear"></div>
			{% else %}
			<br>
				<p style="float:left"><a href="/login/?next=/articles/{{article.id}}">Connectez vous pour commenter</a></p>
				<div id="votes" style="float:left">
					<div id="qualityVote">
						Quality Vote : <span class="inline-rating">
							<ul class="star-rating-fix small-star">
								<li class="current-rating" style="width:{% widthratio article_q_note 1 20 %}%;">Currently 1.5/5 Stars.</li>
								<li><a href="#" title="1 star out of 5" class="one-star">1</a></li>
								<li><a href="#" title="2 stars out of 5" class="two-stars">2</a></li>
								<li><a href="#" title="3 stars out of 5" class="three-stars">3</a></li>
								<li><a href="#" title="4 stars out of 5" class="four-stars">4</a></li>
								<li><a href="#" title="5 stars out of 5" class="five-stars">5</a></li>
							</ul>
						</span>
					</div>
					<div id="fiabilityVote">
						Fiability Vote : <span class="inline-rating">
							<ul class="star-rating-fix small-star">
								<li class="current-rating" style="width:{% widthratio article_f_note 1 20 %}%;">Currently 1.5/5 Stars.</li>
								<li><a href="#" title="1 star out of 5" class="one-star">1</a></li>
								<li><a href="#" title="2 stars out of 5" class="two-stars">2</a></li>
								<li><a href="#" title="3 stars out of 5" class="three-stars">3</a></li>
								<li><a href="#" title="4 stars out of 5" class="four-stars">4</a></li>
								<li><a href="#" title="5 stars out of 5" class="five-stars">5</a></li>
							</ul>
						</span>
					</div>
			</div>
			<div class="clear"></div>
			{% endif %}
			<br>
			<h3>Commentaires :</h3>
			<div id="comments-{{article.id}}" style="float:left">
				{% for comment in article.comments %}
					<a href="/profile/{{comment.memberId.id}}">{{comment.memberId}}</a>
					<p>{{comment.text}}</p>
					{% empty %}
						<p>Il n'y a pas de commentaires pour le moment</p>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock content %} 

{% block script %}
	<SCRIPT TYPE="text/javascript">
		$(document).ready(function() {
			$('#qualityVote .star-rating a').click(function(e){
				e.preventDefault();
				$.ajax({
		           type: "POST",
		           url: '/quality_vote', 
		           data: {'articleId':{{article.id}}, 'vote':$(this).html()}, // serializes the form's elements.
		           success: function(data)
		           {
		           	$("#qualityVote").html(data)
		           },
		           error: function() {
		        	}
	         	});
			});

			$('#fiabilityVote .star-rating a').click(function(e){
				e.preventDefault();
				$.ajax({
		           type: "POST",
		           url: '/fiability_vote', 
		           data: {'articleId':{{article.id}}, 'vote':$(this).html()}, // serializes the form's elements.
		           success: function(data)
		           {
		           	$("#fiabilityVote").html(data)
		           },
		           error: function() {
		        	}
	         	});
			});

			$('.commentArticleButton').bind('click',function(e) {
				e.preventDefault();
				id = this.id;
				id = id.split("-")[1];
				formId = "commentForm-" + id;

				console.log($("#formId"));


				$.ajax({
		           type: "POST",
		           url: '/comment', 
		           data: $("#" + formId).serialize(), // serializes the form's elements.
		           success: function(data)
		           {
		               $("#" + formId).stop().fadeOut(500);
		               $("#comments-"+id).prepend(data);
		           },
		           error: function() {
		        	}
	         	});
			});
		})
	</SCRIPT>
{% endblock script %}
