{% extends 'base.html' %}



{% block menu %}
	<li>
    	<a href="/categories/">All</a>
  	</li>
	{% for cat in categories %}
		<li><a href="/categories/{{cat.url}}">{{cat|title}}</a></li>
	{% endfor %}
{% endblock menu %}

{% block content %}
	<br>	
	{% for d in entries %}
		<a href="{{d.link}}" target="blank"><h4>{{d.title}}</h4>
		<p>{{d.published.date}} à {{d.published.time|time:"H:i"}}</p>
		<p>{{d.summary}}</p></a>
	{% endfor %}
	Path : {{request.get_full_path}} =====><br>
	current user : {{user}}<br>
{% endblock content %} 