{% extends 'base.html' %}

{% block style %}
	{{block.super}}
	.nav-tabs li.active a{
		background: #f5f5f5;
	}
	.nav-tabs li.active:hover a{
		background: #f5f5f5;
	}

	.divider {
		width: 100%;
		border-bottom: 1px solid #ddd;
		margin-top: 25px;
		margin-bottom: 20px;
	}
{% endblock style %}



{% block menu %}
	<li {% if catActive == 'all' %}class="active"{% endif %}>
	<a href="/categories/">All</a>
	</li>
	{% for cat in categories %}
		<li {% if cat.url == catActive %}class="active"{% endif %}><a id="tab_{{cat.id}}" href="/categories/{{cat.url}}">{{cat|title}}</a></li>
	{% endfor %}
{% endblock menu %}

{% block content %}

	<div class="mosaic-wrapper">
	  <div class="dashboard clearfix">
	      <div class="col1 clearfix">
	      	{% for article in articlesCol1 %}
		        <div class="{{article.category.url}} {% if forloop.counter0|divisibleby:'3' %}big{% else %}small{% endif %} todos-thumb frame" data-page="article-{{article.id}}">
		          <p>{{article.title}}
		            <span class="todos-thumb-span">{{article.date}}</span>
		          </p>
		        </div>
	        {% endfor %}
	      </div>

	      <div class="col2 clearfix">
	      	{% for article in articlesCol2 %}
		        <div class="{% if forloop.counter|divisibleby:'3' %}big{% else %}small{% endif %} todos-thumb frame {{article.category.url}}" data-page="article-{{article.id}}">
		          <p>{{article.title}}
		            <span class="todos-thumb-span">{{article.date}}</span>
		          </p>
		        </div>
	        {% endfor %}
	      </div>

	      <div class="col3 clearfix">
	      	{% for article in articlesCol3 %}
		        <div class="{% if forloop.counter0|divisibleby:'3' %}big{% else %}small{% endif %} todos-thumb frame {{article.category.url}}" data-page="article-{{article.id}}">
		          <p>{{article.title}}
		            <span class="todos-thumb-span">{{article.date}}</span>
		          </p>
		        </div>
	        {% endfor %}
	      </div>

	  </div>
	</div>

{% endblock content %} 

{% block script %}
<script type="text/javascript">

	$('.commentArticleButton').bind('click',function(e) {
		e.preventDefault();
		id = this.id;
		id = id.split("-")[1];
		formId = "commentForm-" + id;

		console.log($("#formId"));


		$.ajax({
           type: "POST",
           url: '/comment', 
           data: $("#" + formId).serialize(), // serializes the form's elements.
           success: function(data)
           {
               $("#" + formId).stop().fadeOut(500);
               $("#comments-"+id).prepend(data);
           },
           error: function() {

           }
         });

	});

	
</script>
{% endblock script %}
