{% extends 'base.html' %}

{% block style %}
	{{block.super}}
	.form-inline input[type=text] {
		height: 30px!important
	}
	input[type=checkbox] {
		vertical-align: top!important
	}

	select[multiple=multiple] {
		width: 150px;
		text-align: center
	}

	.helptext {
		font-size: 12px;
	}
{% endblock style %}

{% block menu %}
<li><a href="/">home</a></li>
<li><a href="/categories">articles</a></li>
<li class="active"><a href="/preferences">preferences</a></li>
<li><a href="/logout">logout</a></li>
<li><a href="/login">login</a></li>
<li><a href="/register">register</a></li>
{% endblock menu %}

{% block content %}
	<form class="form-inline" action="preferences" method="POST">{% csrf_token %}
		<div class="well">
			<h3>User Informations</h3>
			{{form.as_p}}
		</div>
		<div class="well">
			<h3>Key for application identification</h3>
			<p><label for="">Api Key : </label> <input type="text" style="min-width: 350px; text-align: center" value="{{api_key}}" disabled> </p>
		</div>
		<p>
			<input class="btn btn-primary" type="submit" value="Save">
		</p>
	</form>
{% endblock content %} 