{% extends 'base.html' %}

{% block style %}
{{block.super}}

{% endblock style %}

{% block menu %}
	<li>
	   	<a href="/categories/">All</a>
	</li>
	{% for cat in categories %}
		<li><a href="/categories/{{cat.url}}">{{cat|title}}</a></li>
	{% endfor %}
{% endblock menu %}

{% block content %}
	<div class="well">
		<h2>User Informations : {{user.username}}</h2>
		{% if user.member.twitter != "" %}
			<p><strong>Twitter</strong> : {{user.member.twitter}}</p>
		{% endif %}
		{% if user.member.facebook != "" %}
			<p><strong>Facebook</strong> : {{user.member.facebook}}</p>
		{% endif %}
		{% if user.member.gplus != "" %}
			<p><strong>Google +</strong> : {{user.member.gplus}}</p>
		{% endif %}
		<p><strong>Prefered Categories : </strong>
			{{user.member.preferedCategoryIDs.all|join:", "}}
		</p>
	</div>
{% endblock content %} 