{% extends 'base.html' %}


{% block style %}
	
{% endblock style %}

{% block content %}
	{% if error %}
		<h2>Erreur !</h2>
		{{error}}
	{% endif %}
		<h2>Check Rss</h2>
		<table id="rssTable" class="table table-hover">
			<thead>
				<tr>
					<th></th>
					<th>Feed name</th>
					<th>Date</th>
					<th>Note</th>
				</tr>
			</thead>
			<tbody>
				{% for rss in rss_feeds %}
				<tr>
					<td> <a href="/rss_validator/{{rss.id}}?choice=ok"><i class="icon-ok"></i></a> &nbsp; &nbsp; 
						 <a href="/rss_validator/{{rss.id}}?choice=trash"><i class="icon-fire"></i></a> </td>
					<td><a href="{{rss.url}}">{{rss}}</a></td>
					<td>{{rss.updatedDate}}</td>
					<td>{{rss.mark}}</td>
					{% empty %}
						<td></td>
						<td>Aucun vote disponnible</td>
						<td></td>
						<td></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
{% endblock content %} 
