{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'js/wysihtml5/stylesheet.css' %}">
<link href="{% static 'js/tags/select2.css' %}" rel="stylesheet"/>
{% endblock head %}

{% block style %}
	{{block.super}}
	#id_text {
		width: 100%;
		height: 500px;
	}

	#id_title {
		width: 500px;
	}

	input[type=text] {
		height: 30px!important
	}
	input[type=checkbox] {
		vertical-align: top!important
	}

	label{
		margin-right: 10px;
	}

	label[for="id_category"] {
		margin-left: 20px;
		margin-right: 0;
	}
{% endblock style %}

{% block logMenu %}
	<li id="logButton"><a href="#">
		{% if not user.username %}
			Se connecter
		{% else %}
			{{user.username}}
		{% endif %}
	</a></li>
{% endblock logMenu %}

{% block menu %}
	<li class="dropdown">
		<a href="#" class="dropdown-toggle pull-right" data-toggle="dropdown">
		  Menu
		  <b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li><a href="/">home</a></li>
			<li><a href="/categories">articles</a></li>
			<li><a href="/preferences">preferences</a></li>
			<li><a href="/logout">logout</a></li>
			<li><a href="/login">login</a></li>
			<li><a href="/register">register</a></li>
		</ul>
	</li>
	<li>
	<div id="wysihtml5-toolbar" style="display: none;">
	  <ul class="commands">
		  <li data-wysihtml5-command="bold" title="Make text bold (CTRL + B)" class="command" href="javascript:;" unselectable="on"></li>
		  <li data-wysihtml5-command="italic" title="Make text italic (CTRL + I)" class="command" href="javascript:;" unselectable="on"></li>
		  <li data-wysihtml5-command="insertUnorderedList" title="Insert an unordered list" class="command" href="javascript:;" unselectable="on"></li>
		  <li data-wysihtml5-command="insertOrderedList" title="Insert an ordered list" class="command" href="javascript:;" unselectable="on"></li>
		  <li data-wysihtml5-command="createLink" title="Insert a link" class="command" href="javascript:;" unselectable="on"></li>
		  <li data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1" title="Insert headline 1" class="command" href="javascript:;" unselectable="on"></li>
		  <li data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2" title="Insert headline 2" class="command" href="javascript:;" unselectable="on"></li>
		  <li data-wysihtml5-action="change_view" title="Show HTML" class="action" href="javascript:;" unselectable="on"></li>
		</ul>
		<div data-wysihtml5-dialog="createLink" style="display: none;">
	        <label>
	          Link:
	          <input data-wysihtml5-dialog-field="href" value="http://">
	        </label>
	        <a data-wysihtml5-dialog-action="save">OK</a>&nbsp;<a data-wysihtml5-dialog-action="cancel">Cancel</a>
	      </div>
	</div>
	</li>

{% endblock menu %}

{% block content %}
	<form enctype="multipart/form-data" action="/write" method="POST" id="write_form" class="form-inline">{% csrf_token %}
		<div class="well">
			<p>
				<label for="id_title">{{form.title.label}} : </label>
				{{form.title}}
				<label for="id_category">{{form.category.label}} : </label>
				{{form.category}}
			</p>

			<p id="tag_input">
				<label>Tags : </label><input type="hidden" id="e1" style="width:300px" name="tagInput">
				<label for="id_media">{{form.media.label}} : </label>
				{{form.media}}
			</p>
		</div>


		<label for="id_text">Article content : </label> 
		{{form.text}}<br><br>
		{% if member.geoloc %}
			<input id="id_coord" type="hidden" value="0,0" name="coordonnee">
		{% endif %}
		
		<div class="well">
			<p style="float: left; margin-right: 25px; margin-left: 25px;"><label for="id_published">Publish Now ?</label> 
				{{form.published}}</p>
		
			<p style="float: left; margin-top: -4px">
				<input class="btn btn-primary" type="submit" value="Poster un article">
			</p>

			<p style="float: left; margin-top: -4px; margin-left: 25px">
				<button id="discard" class="btn">Annulé</button>
			</p>
		</div>
	</form>
{% endblock content %} 

{% block script %}
<!-- wysihtml5 parser rules -->
<script src="{% static 'js/wysihtml5/advanced.js' %}"></script>
<!-- Library -->
<script src="{% static 'js/wysihtml5/wysihtml5-0.3.0.min.js' %}"></script>
<script src="{% static 'js/tags/select2.js' %}"></script>
<script>
	$(document).ready(function() {
		$("#discard").click(function() {
			setTimeout("window.location.href = '/categories'" , 0 );
		});

		$("#e1").select2({
            multiple: true,
            tokenSeparators: [",", " "],
            minimumInputLength: 3,
		    ajax: {
				url: "/api/v1/tags/?format=json",
				dataType: 'json',
				quietMillis: 100,
				data: function(term, page) {
					return {
						q:term
					};
				},
				results: function(data, page ) {
					return { results: data.objects }
				}
			},
			createSearchChoice:function(term, data) { 
				console.log(data); 
				len = $(data).filter(function() { 
					return this.tag.localeCompare(term)===0; 
				}).length;
				console.log(len); 
				if (len===0) {
					return {id:term, tag:term};
				} 
			},
			formatResult: function(objects) { return "<div class='select2-result-label'>" + objects.tag + "</div>"; },
			formatSelection: function(objects) { 
				return "<input type='hidden' name='tags[]' value='" + objects.tag + "'>" + objects.tag; }
		});


		var editor = new wysihtml5.Editor("id_text", { // id of textarea element
			toolbar:      "wysihtml5-toolbar", // id of toolbar element
			parserRules:  wysihtml5ParserRules // defined in parser rules set 
		});


		if(document.getElementById('id_coord'))
			doGeoloc();
	});

	function doGeoloc() {
		console.log("TODO : geoloc");
		if (navigator.geolocation)
		  navigator.geolocation.getCurrentPosition(function(position)
		  {
		    $("#id_coord").attr('value',position.coords.latitude.toFixed(6) + "," + position.coords.longitude.toFixed(6));
		  }, errorCallback);
		else
		  $("#id_coord").attr('value',"error");
	}

	function errorCallback(error){
	  switch(error.code){
	    case error.PERMISSION_DENIED:
	      $("#id_coord").attr('value',"error");
	      break;      
	    case error.POSITION_UNAVAILABLE:
	      $("#id_coord").attr('value',"error");
	      break;
	    case error.TIMEOUT:
	      $("#id_coord").attr('value',"error");
	      break;
	    }
	}
</script>
{% endblock script %}
